/* Ini css */

/* Css Variable */
:root {
    /* Coloring */
    --primary-color: #17181a;
    --secondary-color: #1b2023;
    --tertiary-color: #232e34;
    --button-color: #445870;
    --font-title: #17a4c7;
    --font-text: rgba(255, 255, 255, 0.8);
}

/* Font Text */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol {
    list-style-position: inside;
}

/* Styling */

body {
    font-family: "Work Sans", sans-serif;
    background-color: var(--primary-color);
    color: #fff;
}

/* Container */

.container {
    display: flex;
    margin: 20px;
    height: calc(100vh - 40px);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px 1px #000;
}

/* Content */

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--secondary-color);
}

/* Aside Wrap */

aside.form-wrap {
    display: flex;
    background-color: var(--tertiary-color);
    padding: 30px 0px;
    justify-content: center;
}

aside.article-wrap {
    padding: 30px 50px;
}

aside article p {
    color: var(--font-text);
}

aside article li {
    color: var(--font-text);
}

aside article h2 {
    color: var(--font-title);
}

/* Font Styling + Article Margin */

article {
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

h3 {
    font-size: 0.800rem;
}

p {
    margin-bottom: 15px;
}

li {
    margin-bottom: 5px;
}

p, li {
    font-size: 0.950rem;
    line-height: 1rem;
}

ol {
    margin-bottom: 10px;
}

sup {
    line-height: 0rem;
}

/* Form */

form {
    display: flex;
    flex-direction: column;
}

form h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

form .input-box {
    margin-bottom: 30px;
}

form button {
    cursor: pointer;
    margin-right: 5px;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid var(--button-color);
}


.btn-1 {
    background-color: var(--button-color);

}

.btn-2 {
    background-color: transparent;
    color: #fff;
}

/* Jenis Kelamin */
.jenis-kelamin {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    font-size: .890rem;
}

.jenis-kelamin input, label {
    cursor: pointer;
}

.jenis-kelamin input {
    display: none;
}

.jenis-kelamin input[type="radio"]:checked + label.cowok {
    color: #19d1ff;
    transition: 0.3s;
}

.jenis-kelamin input[type="radio"]:checked + label.cewek {
    color: #ff75f1;
    transition: 0.3s;
}

.jenis-kelamin label {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.jenis-kelamin label i {
    font-size: 0.950rem;
}

/* Input Box */

.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    outline: none;
}

.input-box input {
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255, 0.3);
    color: #fff;
    outline: none;
    font-size: .850rem;
    transition: 0.5s;
    z-index: 999;
}

.input-box span {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: .850rem;
    color: rgba(255, 255, 255, 0.3);
    z-index: 1;
    transition: 0.3s;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span {
    color: #19d1ff;
    transform: translateY(-15px);
    font-size: .750rem;
    z-index: 999;
}

.input-box input:valid,
.input-box input:focus {
    border-color: rgba(255, 255, 255, 0.6);
}

/* Responsive */

@media screen and (max-width: 768px) {
    
    .container {
        height: max-content;
    }

    main {
        grid-template-columns: 1.5fr 2fr;
    }
}

@media screen and (max-width: 430px) {

    .container {
        height: max-content;
    }

    main {
        grid-template-columns: 1fr;
    }
}