/* Css Variable */
:root {
    --primary-color: #17181a;
    --secondary-color: #1b2023;
    --tertiary-color: #232e34;
    --button-color: #445870;
    --font-title: #17a4c7;
    --font-text: rgba(255, 255, 255, 0.8);
}



/* Reset CSS */

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol {
    list-style-position: inside;
}



/* Styling */

body {
    font-family: "Work Sans", sans-serif;
    background-color: var(--primary-color);
    color: #fff;
}



/* Container */

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px 1px #000;
}



/* Main */

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--secondary-color);
    height: 100%;
    height: calc(100vh - 40px);
}

/* Aside Right - BMI Result Container */

.bmi-result {
    display: none;
}

.bmi-result h2 {
    color: var(--font-title);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Aside Right - BMI Result Box */

.bmi-result .result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tertiary-color);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bmi-result .result-box h3 {
    color: var(--font-title);
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.bmi-result .result-box p.result {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.bmi-result .result-box p.category, p.category-desc {
    color: var(--font-text);
    font-size: 1rem;
}

/* Aside Right - BMI Result Article */

.bmi-result article p {
    color: var(--font-text);
    font-size: 0.950rem;
    line-height: 1rem;
}

.bmi-result article p {
    margin-bottom: 15px;
}



/* Aside Right - Bmi Article */

.aside-right {
    margin: 25px;
}

.aside-right .bmi-article p {
    color: var(--font-text);
    font-size: 0.950rem;
    line-height: 1rem;
}

.aside-right .bmi-article li {
    color: var(--font-text);
}

.aside-right .bmi-article h2 {
    color: var(--font-title);
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.aside-right .bmi-article {
    margin-bottom: 25px;
}

.aside-right .bmi-article p {
    margin-bottom: 15px;
}

.aside-right .bmi-article  li {
    margin-bottom: 5px;
}

.aside-right .bmi-article sup {
    line-height: 0rem;
}

.aside-right span {
    text-align: center;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.8);
    display: none;
}

/* Aside Left */

.aside-left {
    display: flex;
    background-color: var(--tertiary-color);
    justify-content: space-between;
    flex-direction: column;
}

.aside-left span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 13px;
    color: rgba(255, 255, 255, 0.8);
}

/* Aside Left - Form */

form {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

form h2 {
    color: var(--font-title);
    font-size: 1.4rem;
    margin-bottom: 15px;
}

form .input-box {
    margin-bottom: 30px;
}

form button {
    cursor: pointer;
    margin-right: 5px;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid var(--button-color);
}


.btn-1 {
    background-color: var(--button-color);
}

.btn-2 {
    background-color: transparent;
    color: #fff;
}

/* Aside Left - Jenis Kelamin */

.gender {
    display: flex;
    margin-bottom: 20px;
    font-size: .890rem;
    gap: 15px;
}

.gender input, label {
    cursor: pointer;
}

.gender input {
    display: none;
}

.gender input[type="radio"]:checked + label.cowok {
    color: #19d1ff;
    transition: 0.3s;
}

.gender input[type="radio"]:checked + label.cewek {
    color: #ff75f1;
    transition: 0.3s;
}

.gender label {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 8px;
}

.gender label i {
    font-size: 0.850rem;
}

/* Aside Left - Input Box */

.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    outline: none;
}

.input-box input {
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255, 0.3);
    color: #fff;
    outline: none;
    font-size: .850rem;
    transition: 0.5s;
    z-index: 999;
}

.input-box span.input-placeholder {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: .850rem;
    color: rgba(255, 255, 255, 0.3);
    z-index: 1;
    transition: 0.3s;
}

.input-box input:valid ~ span.input-placeholder,
.input-box input:focus ~ span.input-placeholder {
    color: #19d1ff;
    transform: translateY(-15px);
    font-size: .750rem;
    z-index: 999;
}

.input-box input:valid,
.input-box input:focus {
    border-color: rgba(255, 255, 255, 0.6);
}

/* Responsive */

@media screen and (max-width: 768px) {

    main {
        grid-template-columns: 1.5fr 2fr;
    }
}

@media screen and (max-width: 460px) {

    .container {
        margin: 10px;
        overflow: visible;
    }

    main {
        grid-template-columns: 1fr;
        height: max-content;
    }

    .aside-left span.copyright {
        display: none;
    }

    form {
        margin: 20px;
    }

    .aside-right {
        margin: 20px;
    }

    .aside-right span.copyright {
        display: block;
    }
}